:root{

    --headerColor:#F2F2F2;
    --borderColor:#0554F2;
    --mainColor:#0583F2;
    --extraColor:#0554F2;
    --buttonColor:#F2B705;


}
/*

buttons
main
headders
text

*/


*{
    font-family: "Exo 2", sans-serif;
}

body{
    background:url("../Img/logIn2.webp") no-repeat center fixed;
    background-size: cover;

}

#Loginbody{

    border-radius: 2px;
    border: black solid 2px;
}


/*#loginButton input{*/
/*    background-color: var(--extraColor);*/

/*}*/

#loginBody{
    background-color: var(--headerColor);


}

.loginInputs input{
    color: var(--extraColor);

}

/*
login erros
 */

#adminLoginAlert{
    background-color: red;
    text-align: center;
}

#adminLoginAlert pre{
    color: white;

}