body{
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.add-btn{
    float: right;
}

.table-responsive{
    text-align: center;
}
#ViewAccount{
    float: left;
}

/*
dashboard
 */



.card-deck .card-header{
    /*background-color: var(--headerColor);*/
    color:  var(--buttonColor);
 }

.card-body .table{
    background-color: var(--headerColor);
    color: white;
}
.card .card-body{
    /*background-color: var(--extraColor);*/
    color: white;
}

/*
all buttons (expect add buttons)
 */

.btn{
    color: white;
}

