footer{
    margin-top: 100px;
    background-color: black;
    color: white;
    list-style-type: none;

    .btn-link{
        margin-top: 50px;
    }
}
hr{
    border-top: solid rgb(129, 121, 121) transparent;
    border-width: 2px;
    //border-color: black;
  }
