// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header{
    position: relative;
    z-index: 99999;

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #menuDropdown{
        //padding-top: 5px;
        background-color: #0318189a;
        
    }

    a:link, a:visited {
        background-color:transparent;
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    .header {
        position: relative;
        z-index: 99999;
        width: 100%;

        ul{
            margin-bottom: 0;
        }
    }

    .d-flex{
        width:100%;

        
        .top-bar {
            background-color: transparent;
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
            color: #000;
            padding: 11px 0;

            .top-bar-left {
                float: left;
                margin-left: 5px;
                padding-left: 10px;
                padding-right: 10px;

                ul{
                    margin:0;
                    padding:0;
                    list-style:none;
                    font-family:rubik;
                    font-size:14px;
                        li{
                        display:inline-block;
                        position:relative;

                            a{
                                color:white;
                            }
                        }
                }
                
            }
            
        }
    
    
    // .sticky {
    //     position: fixed;
    //     top: 0;
    //     width: 100%;
    //     display: flex;
    //     padding: 5px;
    //     background-color: red; 
    //     .col-12-navbar{
    //         padding-right: 0;
    //     }   
    // }

    .sticky-header{
        width:100%;

        .menu-bar{
            width:100%;

            
                
            .nav-list{
                    width:100%;
                    .menu-links{
                        .navbar-nav{
                            .one-link:hover, a:active {
                                margin-top: 0;
                                background-color: black;    
                            }
                            .active-home{
                                overflow: hidden;
                                background-color: black;
                            }
                            
                            .pages{
                                .sub-menu1 {
                                    display: none;
                                    position: absolute;
                                    background-color: black;
                                    //min-width: 160px;
                                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                    z-index: 1;    
                                    a{
                                        color: white;
                                        text-decoration: none;
                                        display: block;
                                    }   

                                    .activities{
                                        .sub-menu{
                                            display: none;
                                            position: absolute;
                                            background-color: black;
                                            //min-width: 160px;
                                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                            z-index: 1;
                                            top:0;
                                            left: 144px;
                                            
                                            a{
                                                color: white;
                                                text-decoration: none;
                                                display: block; 
                                            }
                                        }
                                    }
                
                                    .activities:hover {
                                        .sub-menu{
                                            display: block;
                                            background-color: #749476;
                                        }
                                    }
                                }

                                :hover {
                                    margin-top: 0;
                                    background-color: black;
                                }
                                
                            }
                            .pages:hover{
                                .sub-menu1{
                                display: block;
                                background-color: #749476;
                                
                                }
                            }
                            .nav-dashboard{
                                .sub-menu2{
                                    display: none;
                                    position: absolute;
                                    background-color: black;
                                    //min-width: 160px;
                                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                    z-index: 1;    
                                    
                                    a{
                                        color: white;
                                        text-decoration: none;
                                        display: block;

                                    }
                                }                   
                                
                            }
                            :hover{
                                .sub-menu2{
                                    display: block;
                                    background-color: #749476;
                                    
                                }
                            }
                            
                            .nav-simulator{
                                .sub-menu3{
                                    display: none;
                                    position: absolute;
                                    background-color: #f9f9f9;
                                    //min-width: 160px;
                                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                    z-index: 1;   

                                    a{
                                        color: white;
                                        text-decoration: none;
                                        display: block;
                                    }
                                }
                            }
                            :hover{
                                .sub-menu3{
                                    display: block;
                                    background-color: #749476;
                                    
                                }
                            }
                            .nav-social-link{
                                padding-left: 500px;
                
                                a{
                                    :hover{
                                        padding:5px;
                                        background-color: black;
                                    }
                                }
                            }
                        }
                        
                    }
                }
            
            
        }
    }


    }
}