.style-1 {
  border-radius: 15px;
  background: #e0e0e0;
  -webkit-box-shadow: 5px 5px 9px #969696, -5px -5px 9px #ffffff;
          box-shadow: 5px 5px 9px #969696, -5px -5px 9px #ffffff;
  padding: 15px;
}

.style-1-bg {
  background: #e0e0e0;
}

.gra-button {
  background-color: #262626;
  color: #e0e0e0;
  border: solid 1px #262626;
}

.gra-button:hover {
  background-color: transparent;
  color: #262626;
  border: solid 1px #262626;
}

.page-login, .page-register, .home-page, .page-profile, .page-sell {
  background: linear-gradient(-45deg, #c6cac9, #8dd1ec, #d7cfe4, #97e4d2);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.chat-byn input {
  display: none;
}

.headbody {
  font-size: small;
}

.headbody header {
  margin-bottom: 10px;
}

.headbody header li {
  font-size: medium;
}

.headbody header .navbar {
  background-color: #0318189a;
}

.headbody header .navbar-collapse .navbar-brand, .headbody header .navbar-collapse .nav-item {
  font-size: large;
  color: white !important;
}

.headbody header .navbar-collapse .navbar-brand:hover, .headbody header .navbar-collapse .nav-item:hover {
  color: #bebebe;
  background-color: black;
  height: 100%;
}

.headbody header .dropdown a {
  color: white !important;
}

.headbody header .dropdown a :hover {
  background-color: black;
  color: #bebebe;
}

.headbody header .dropdown .dropdown-menu {
  background-color: #749476;
}

.headbody header .dropdown .dropdown-menu :hover {
  background-color: black;
}

.headbody header .dropdown .dropdown-menu .dropdown-item {
  font-size: medium;
}

.headbody header .dropdown .dropdown-menu .dropdown-item :hover {
  background-color: black;
}

.headbody header .dropdown-submenu {
  position: relative;
}

.headbody header .dropdown-submenu a::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.headbody header .dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

footer {
  margin-top: 100px;
  background-color: black;
  color: white;
  list-style-type: none;
}

footer .btn-link {
  margin-top: 50px;
}

footer h6 {
  font-size: large;
}

hr {
  border-top: solid #817979 transparent;
  border-width: 2px;
}

#bg {
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../images/background/background1.png");
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  text-align: center;
}

.content .head {
  opacity: .5;
  color: black;
}

.content .head .heading {
  -webkit-background-clip: text;
  background-clip: text;
  color: black;
  font-size: 5vw;
  font-weight: bolder;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-animation: reveal 3000ms ease-in-out forwards 200ms;
          animation: reveal 3000ms ease-in-out forwards 200ms;
}

@-webkit-keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}

@-webkit-keyframes glow {
  40% {
    text-shadow: 0 0 8px black;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px black;
  }
}

.sign-in, .sign-up {
  background-color: #15154B;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 25px;
  text-align: center;
}

.sign-in:hover, .sign-up:hover {
  background-color: #243D76;
  color: white;
}

body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-color: #B0BEC5;
  background-repeat: no-repeat;
}

body .card0 {
  border-radius: 0px;
}

body .card0 .image {
  width: 100% !important;
  height: 100vh;
}

body .card0 .home-btn {
  background-color: #15154B;
}

body .card0 .card1 {
  margin: 0px 40px;
}

body .card0 .card1 .btn-blue {
  background-color: #15154B !important;
  width: 100px;
  color: #FFF !important;
  border-radius: 200px;
}

body .card0 .card1 .btn-blue:hover {
  background-color: #243D76 !important;
  color: white !important;
}

.form-box {
  padding: 25px !important;
  margin: 0 !important;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2) !important;
}

h1 {
  text-align: center !important;
}

.logo {
  margin-top: 20px;
  margin-left: 35px;
  width: 100px;
  height: auto;
}

.border-line {
  border-right: 1px solid #EEEEEE;
}

.text-sm {
  font-size: 14px !important;
}

.custom-control {
  margin-top: 10px;
}

::-webkit-input-placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300;
}

::-ms-input-placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300;
}

::placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300;
}

::-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300;
}

input {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #2C3E50;
  font-size: 14px;
  letter-spacing: 1px;
}

input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #15154B;
  outline-width: 0;
}

button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline-width: 0;
  padding-left: 200px;
}

a {
  margin-top: 10px;
  color: inherit;
  cursor: pointer;
  text-decoration: none !important;
}

.bg-blue {
  color: #FFF;
  background-color: black;
}

@media screen and (max-width: 991px) {
  .image {
    width: 300px;
    height: auto;
  }
  .border-line {
    border-right: none;
  }
  .card1 {
    border-top: 1px solid #EEEEEE !important;
    margin: 0px 15px;
  }
}

p.errors {
  color: red;
}

.navbar {
  background-color: white;
}

body {
  background-color: white;
}

body .vl {
  border-left: 3px solid #243D76;
  height: 100%;
}

body .back-img img {
  height: 100%;
  width: 100%;
}

body .register-btn {
  background-color: #15154B;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border-radius: 25px;
  cursor: pointer;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

body .register-btn:hover {
  background-color: #243D76;
  border-color: #243D76;
  color: white;
}

body .bg-blue {
  background-color: black;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */