body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #B0BEC5;
    background-repeat: no-repeat;

    .card0 {
        box-shadow: 0px 4px 8px 0px #757575;
        border-radius: 0px;
        
        .image {
            
            width: 600px;
            height: 100%;
            
        }

        .card1 {
            margin: 0px 40px;
        
            .btn-blue {
                background-color: green!important;
                width: 100px;
                color: #FFF !important;
                border-radius: 200px;
            }
            
            .btn-blue:hover {
                background-color: #FFF !important;
                cursor: pointer;
                color: black !important;
                border-width: 1px;
                border-color: green;
                
            }
        }
    }
}





.logo {
    margin-top: 20px;
    margin-left: 35px;
    width: 100px;
    height: auto;
}



.border-line {
    border-right: 1px solid #EEEEEE;
}

.text-sm {
    font-size: 14px !important;
}

.custom-control {
  margin-top: 10px;
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300;
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300;
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300;
}

input {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
}

input:focus {
    box-shadow: none !important;
    border: 1px solid #7AAD37;
    outline-width: 0;
}

button:focus {
    box-shadow: none !important;
    outline-width: 0;
    padding-left: 200px;
}

a {
    margin-top: 10px;
    color: inherit;
    cursor: pointer;
    text-decoration: none !important;
}



.bg-blue {
    color: #FFF;
    background-color: black;
}

@media screen and (max-width: 991px) {
    .image {
        width: 300px;
        height: auto;
    }

    .border-line {
        border-right: none;
    }

    .card1 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px;
    }
}