
#bg{
    background-attachment: fixed;
	background-size: cover;
    background-image:  url("../images/background/background1.png");
    background-position: center;
    background-repeat: no-repeat;
    
}


.content{

    text-align: center;
    .head{
        opacity: .5;
        color: black;
    
    .heading{
        // background: 50% 100% / 50% 50% no-repeat
        //       radial-gradient(ellipse at bottom, black, transparent, black);
        -webkit-background-clip: text;
        background-clip: text;
        color: black;
        font-size:5vw;
        font-weight: bolder;
        text-align: center;
        margin-top: 150px;
        margin-bottom: 100px;
        font-family: "Source Sans Pro", sans-serif;
        animation: reveal 3000ms ease-in-out forwards 200ms;

        @keyframes reveal {
            80%{
            letter-spacing: 8px;
            }
            100% {
            background-size: 300% 300%;
            }
        }
        @keyframes glow {
            40% {
            text-shadow: 0 0 8px black;
            }
        }
    }
    }
}
.sign-in, .sign-up{
    background-color: #15154B;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 25px;
    text-align:center;
    }

.sign-in:hover, .sign-up:hover{
    background-color: #243D76;
    color: white;
}

// .nav-social-link{
//     padding-left: 100px;
    //margin-left: 100px;

    // button{
    //     float: inherit;
    //     width: 50px;
    //     height: 30px;
    //     background: #3c643f;
    //     color: white;
    //     font-size: 17px;
    //     border: 1px solid grey;
    //     border: 1px solid rgb(255, 255, 255);;
    //     cursor: pointer;
    // }

//     .search{
//         width: 200px;
//         height: 30px;
//         padding-left: 10px;
//     }
// }
